---
layout: page
title: "404"
permalink: 404.html
---

<div class="content">
<center>    <h1 class="title-not-found"></h1>

    <p> <img src="{{site.baseurl}}/assets/images/pipa.png"></p>
    <h3><i class="fa fa-chain-broken"></i>  Esta página no existe.</h3>
    <p><h3><i class="fa fa-chain-broken"></i>  (Aunque la estés viendo)</h3></p> </center>
    <br>
    <p><a class="pagina-inicio" href="/">Ir a la página de inicio</a></p>
  </div>