---
layout: default
---

<section class="posts">
    <ul>
    <!-- This loops through the paginated posts -->
    {% for post in paginator.posts %}

    {% if post.title != "untitled" %}
    <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
    {% endif %}

    <p class="author">
        <span class="date"><a href="{{ post.url }}">{{ post.date | date: "%B %-d, %Y" }}</a></span>
      </p>
      <div class="post">
        {% if post.image %}
        <img class="img" src={{ post.image }} alt="Feature Image"/>
        {% endif %}

        {{ post.content }}
      </div>
      &#8226;&middot;&#8226;
      <div>
      Tags:
        <span>{% for tag in post.tags %}
            <a href="/tag/{{tag}}">{{tag}}</a>{% unless forloop.last %}, {% endunless %}{% endfor %}</span>
        </div>
        
      <br>
    {% endfor %}
    
    <!-- Pagination links -->
    <div class="pagination">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="previous">
          <strong>Previous</strong>
        </a>
      {% endif %}
      <span class="page_number ">
        Page {{ paginator.page }} of {{ paginator.total_pages }}
      </span>
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="next"><strong>Next</strong></a>
      {% endif %}
    </div>
    </ul>
    </section>
    
    

