<header role="banner">
      <!--<h1 class="logo">{{ site.title }}</h1>-->
      <nav role="navigation">
<ul>
   {% for item in site.data.navigation.links %}
   {% if page.type == "image" or page.type == "text" %}
      {% assign activeClass = "active" %}   
   {% else %}
      {% assign activeClass = "active" | append: page.type %}
   {% endif %}
   <li><a href="{{ item.url }}" {% if item.url != "/" and page.url contains item.url %} class="{{ activeClass }}" {% elsif item.url == "/" and page.url == "/" %} class="active" {% endif %}>{{ item.title }}</a></li>
   {% endfor %}
</ul>
</nav>
</header>
