---
layout: defaultCustom
---

<section class="post">
  {% if page.title != "untitled" %}
  <h1>{{ page.title }}</h1>
  {% endif %}
  <div class="post">
  
  {% if page.image %}
    <img class="img" src={{ page.image }} alt="Feature Image"/>
  {% endif %}
  
  {{ content }}
  </div>    

  <span class="meta"><time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %-d, %Y" }}</time> &middot; {% for tag in page.tags %}
    <a class="{{ page.type }}" href="/tag/{{tag}}">{{tag}}</a>{% unless forloop.last %}, {% endunless %}{% endfor %}</span>


  
  <!--<span class="meta"><time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %-d, %Y" }}</time> &middot; {% for tag in page.tags %}
      <a class="post" href="/tag/{{tag}}">{{tag}}</a>{% unless forloop.last %}, {% endunless %}{% endfor %}</span>
  -->
  <!--  {% include reading_time.html content=content %}-->
</section>
