---
layout: defaultCustom
title: Log
type: log
---

<section class="post">
  {% assign coll = site[site.logColName]  %}
  
  {% for log in coll reversed %}
      {{ log.content | markdownify | remove: '<section class="post">' | remove: '</section>' }}
  {% endfor %}
</section>



