---
layout: defaultCustom
---

<section class="post">
  <h1><a class="{{page.type}}" href="{{ page.url }}">{{ page.title }}</a></h1>
  <div class="log">
  <ol start="{{page.index[0]}}">
    {% for item in page.fecha %}
    <li>
      {% if page.visto[forloop.index0] == "!" %}
        <b> !!! 
      {% endif %}

      {% if page.link[forloop.index0] %}
        <a class="{{page.type}}" href="{{ page.link[forloop.index0] }}">
      {% endif %}
      {% if page.descripcion[forloop.index0] %}
        {{ page.descripcion[forloop.index0] | markdownify | remove: '<p>' | remove: '</p>'}}
      {% else %}
        {{ page.link[forloop.index0] }}
      {% endif %}
      {% if page.link[forloop.index0] %}
        </a>
      {% endif %}

      {% if page.tipo[forloop.index0] == "film" %}
        {{ "(" | append: page.autor[forloop.index0] | append: ", " | append: page.anio[forloop.index0] | append: ")" | markdownify | remove: '<p>' | remove: '</p>' }}
      {% endif %}

      {% if page.tipo[forloop.index0] == "tv" %}
        {{ " (S" | append: page.temporada[forloop.index0] | append: "E" | append: page.episodio[forloop.index0] | append: ")"| markdownify | remove: '<p>' | remove: '</p>' }}
      {% endif %} 

      {% if page.tipo[forloop.index0] == "book" and page.leido[forloop.index0] %}
        {{ ", " | append: page.autor[forloop.index0] | append: " (" | append: page.leido[forloop.index0] | append: ")" | markdownify | remove: '<p>' | remove: '</p>' }}
      {% elsif page.tipo[forloop.index0] == "book" and page.autor[forloop.index0] %}
      {{ ", " | append: page.autor[forloop.index0] | markdownify | remove: '<p>' | remove: '</p>' }}
      {% endif %}

      {% if page.tipo[forloop.index0] == "podcast" %}
        {% if page.temporada[forloop.index0] %}
          {{ " -- S: " | append: page.temporada[forloop.index0] | markdownify | remove: '<p>' | remove: '</p>' }} 
        {% endif %}
        {{ " -- E: " | append: page.episodio[forloop.index0] | markdownify | remove: '<p>' | remove: '</p>' }}
      {% endif %} 

      {% if page.via[forloop.index0] %}
        {% if page.via[forloop.index0] contains "http" %}
        - <a class="via" href="{{ page.via[forloop.index0] }}">(via)</a>
        {% else %}
          {{ " (via " | append: page.via[forloop.index0] | append: ")" | markdownify | remove: '<p>' | remove: '</p>' }}
        {% endif %}
      {% endif %}

      {% if page.comentario[forloop.index0] %}
        -- <i>{{  page.comentario[forloop.index0] | markdownify | remove: '<p>' | remove: '</p>' }}</i>
      {% endif %}
      
      {% if page.visto[forloop.index0] %}
        &#10004;
      {% else %}
        &#10672;
      {% endif %}


      {% if page.visto[forloop.index0] == "!" %}
        </b>
      {% endif %}

    </li> 
    {% endfor %}
  </ol>
  
  
  </div>    
  <h1>&middot;&middot;&middot;</h1>
</section>
