---
layout: default
---

{% assign postsToShow = "" | split: "," %}

{% for col in site.collections %}
  {% for post in col.docs %}
    {% if post.tags contains page.tag %}
      {% assign postsToShow = postsToShow | push: post %}
    {% endif %}
  {% endfor %}
{% endfor %}

{% assign postsToShow =  postsToShow | sort: "date" |  reverse %}

<section class="posts">
  <h1>Tag #{{page.tag}}</h1>
      <ul>      
        {% for post in postsToShow %}
              <li><a class="{{post.type}}" href="{{ post.url }}">
              {% if post.title == "untitled" %}
                {{ post.url | slice: 11, 20}}
              {% else %} 
                {{ post.title }}
              {% endif %}
              </a>
              <a class="{{post.type}}" href="{{ post.url }}"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y-%m-%d" }}</time></a></li>
            
        {% endfor %}
      </ul>
  </section>
