---
layout: default
title: Tags
---

<section class="posts">
	<h1>{{ page.title }}</h1>
  {% for col in site.collections %}
    {% assign tags =  col.docs | map: 'tags' | join: ','  | split: ',' | uniq | sort %}
    {% assign tagstotal = tagstotal | concat: tags | uniq | sort %}
  {% endfor %}
  <ul>
    <table style="width:75%">
      {% for tag in tagstotal %}
        {% assign countador = 0 %}
        {% for col in site.collections %}
          {% for post in col.docs %}
            {% if post.tags contains tag %}
              {% assign countador = countador | plus:1 %}
            {% endif %}
          {% endfor %}
        {% endfor %}

        {% cycle "<tr><td>", "<td>" %}
        <a href="{{ site.baseurl }}tag/{{ tag }}">{{ tag}} ({{ countador }})</a> </td>
        {% cycle "</td>", "</td>" %}
      {% endfor %}
    </table>
  </ul>  
</section>
